---
Title: Home
layout: page
---
{% assign items = site.sections | sort: 'order' %}
{% for item in items %}
<section id="{{ item.title | slugify}}">
  {% if item.title == 'Sign me up' %}
  <div class="alloy-large">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="alloy-form-container">
            <h3 class="alloy-fancy-header parallaxDown">
              {% if page.cta %}{{page.cta}}{% else %}Sign me up{% endif %}
            </h3>
            {{ item.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  {{ item.content }}
  {% endif %}
</section>
{% endfor %}
