---
layout: page
title: Superpowers
description: >
  <p>Veel van onderstaande "superpowers" heb ik (nog) geen ervaring mee, maar met een paar al wel. Van een paar mensen heb ik terug gekregen dat op deze manier na denken over wat in andere hun ogen vaak word gezien als een beperking, erg verademend is.</p>
  <p>Zo als ik al eerder aangaf heb ik zelf dyslexie en als ik kon kiezen zou ik met liefde slecht zijn taal tenalletijden inwisselen met reatief zijn, beelddenken, filmisch geheugen, technisch inzicht en complexe situaties in één oog opslag kunnen overzien.</p>
excerpt:
cta: Welke heb jij?
update:
---
<div class="container" id="{{ page.title | slugify}}">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
  </div>
  <div class="row">
    {% for superpower in site.superpowers %}
    <div class="col-md-4 col-6 centered item-superpowers animated flip">

        <span class="emoji" data-emoji="{{superpower.emoji-hover}}">{{superpower.emoji}}</span>
        <h3>{{ superpower.title }}</h3>

      </div>
    {% endfor %}
  </div>
</div>

{% assign specificSection = site.sections | where:'title', 'Sign me up' %}
{% for item in specificSection %}

<section id="{{ item.title | slugify}}" class="background--primary">
  <div class="alloy-large">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="alloy-form-container">
            <h3 class="alloy-fancy-header parallaxDown">
              {% if page.cta %}{{page.cta}}{% else %}Sign me up{% endif %}
            </h3>
            {{ item.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
