html {
  scroll-behavior: smooth;
}

.alloy-container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(md) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#home {
  margin-bottom: 40px;

  .inner {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .intro {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h1 {
    hyphens: none;
    font-size: 2.5em;
  }

  svg {

    @include media-breakpoint-down(md) {
      order: -1;
    }

    width: 100%;
  }
}

.container {

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}