.alloy-footer {
  font-size: .8em;

  .profile {
    display: block;
    margin-top: 7.5px;
    -webkit-clip-path: polygon(51% 0, 91% 16%, 100% 51%, 87% 88%, 49% 100%, 12% 86%, 0 51%, 13% 14%);
    clip-path: polygon(51% 0, 91% 16%, 100% 51%, 87% 88%, 49% 100%, 12% 86%, 0 51%, 13% 14%);
    animation: polygons 14s alternate infinite;
    // transition: clip-path, -webkit-clip-path;
    // transition-duration: 3s;
    // transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);


    &:hover {
      animation: unset;
      -webkit-clip-path: polygon(51% 0, 91% 16%, 100% 51%, 87% 88%, 49% 100%, 12% 86%, 0 51%, 13% 14%);
      clip-path: polygon(51% 0, 91% 16%, 100% 51%, 87% 88%, 49% 100%, 12% 86%, 0 51%, 13% 14%);

    }
  }

  @keyframes polygons {
    25% {
      -webkit-clip-path: polygon(61% 8%, 87% 26%, 100% 63%, 66% 86%, 36% 100%, 5% 76%, 0 34%, 25% 5%);
      clip-path: polygon(61% 8%, 87% 26%, 100% 63%, 66% 86%, 36% 100%, 5% 76%, 0 34%, 25% 5%);
    }
    50% {
      -webkit-clip-path: polygon(59% 0, 100% 27%, 100% 79%, 82% 99%, 37% 85%, 11% 69%, 0 16%, 33% 12%);
      clip-path: polygon(59% 0, 100% 27%, 100% 79%, 82% 99%, 37% 85%, 11% 69%, 0 16%, 33% 12%);
    }
    75% {
      -webkit-clip-path: polygon(63% 12%, 100% 13%, 84% 73%, 73% 94%, 34% 99%, 0 65%, 15% 24%, 32% 6%);
      clip-path: polygon(63% 12%, 100% 13%, 84% 73%, 73% 94%, 34% 99%, 0 65%, 15% 24%, 32% 6%);
    }
  }
  a {
    border-bottom: 0;
  }
  .alloy-social {
    > * {
      display: block;
    }
  }
}
.site-footer {
  font-size: .6em;

  a {
    border-bottom: 1px solid;
    border-color: rgba($brand-light, .7);
  }
}
@include media-breakpoint-down(xs) {
  .alloy-design {
  margin-top: $base-spacing*4;
  margin-bottom: $base-spacing*2;
    position: relative;
    overflow: hidden;
    img {
      width: 140%;
      height: auto;
      max-width: unset;
      left: -20%;
      position: relative;
    }
  }
}
