input {
  -webkit-appearance: none;
}
form {
  background-color: $brand-light;
  padding: $base-spacing;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px $base-spacing $base-spacing*2 0 rgba(#000, .1);
  border-radius: $base-spacing/2;
  position: relative;

  * {
    vertical-align: top;
  }
  [type="submit"] {
    // position: absolute;
    float: right;
    border-radius: $base-spacing/3;
  }
  span.emoji {
    padding: $base-spacing $base-spacing 0 $base-spacing/2;
    font-size: 24px;
    line-height: 1em;
    font-size: 1em;
  }
  @include media-breakpoint-up(md) {
    span.emoji {
      padding: $base-spacing $base-spacing 0;
      font-size: 1.4em;
    }
  }
}
.alloy-input-group {
  position: relative;

  label {
    line-height: 1em;
    position: absolute;
    left: 0;
    top: $base-spacing;
    opacity: .4;

    transform-origin: left;
    transition: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  #alloyEmail {
    width: 95%;
  }
  .alloy-focus {
    transform: translateY(-1.4rem) scale(.5);
  }
}
form {
  display: table;

  > * {
  	display: table-cell;
  }

  .alloy-input-group {
    width: 100%;
  }
}
.btn,
input {
  font-size: 1rem;
  line-height: 1em;
  border: 0;

}
[type="submit"],
.btn {
  font-size: 1em;
  font-weight: 700;
  background-color: $brand-primary;
  color: $brand-light;
  border-radius: $base-spacing/3;
  padding: $base-spacing $base-spacing;

}
.btn--small {
  font-size: .6em;
}
@include media-breakpoint-up(md) {
  .btn--small {
    font-size: .8em;
  }
}

input {
  padding: $base-spacing 0;
  border-bottom: 2px solid transparent;

  &:focus {
    outline: none;
    border-color: rgba(#000, .4);
  }
}
