* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  color: $brand-dark;
  font-size: 22px;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
h1 {
  font-size: 3.6em;
  line-height: 1em;
  font-weight: 900;
}

h2 {
  margin-top: $base-spacing/2;
  border-top: 6px solid;
  padding-top: $base-spacing;
}
a {
  text-decoration: none;
  color: $brand-dark;
  border-bottom: 2px solid;
  &:visited {
    border-color: rgba($brand-dark, .4);
  }
  &:active,
  &:hover {
    border-color: $brand-primary;
  }

}
